.footer {
    height: 45px;
    border-top: 0.0625rem solid rgb(215, 215, 215);
    display: flex;
    align-items: center;
    padding: 0px 32px;
    justify-content: space-between;
    margin-top: 32px;
}

.footer ul {
    display: flex;
}

.footer li {
    list-style-type: none;
    margin-right: 16px;
    font-size: 14px;
}

.footer__right-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.footer__language {
    border: 1px solid black;
    padding: 4px 8px 4px 8px;
    box-shadow: none;
    line-height: 1.125rem;
}

.footer__country {
    border: 1px solid black;
    padding: 4px 8px 4px 8px;
    box-shadow: none;
    line-height: 1.125rem;
}